[ëª©ì°¨ ë°”ë¡œê°€ê¸°](#Lab)

---

### ğŸŒ **HTMLì˜ ê¸°ë³¸ ê°œë…**
1. **HTMLì˜ ì •ì˜**
   - **HTML(Hypertext Markup Language)**ì€ ì›¹ í˜ì´ì§€ë¥¼ êµ¬ì„±í•˜ëŠ” ë§ˆí¬ì—… ì–¸ì–´ì…ë‹ˆë‹¤.
   - ì˜ˆì‹œ: ë¶€ë™ì‚° ê°€ê²©, í”„ë¡œê·¸ë˜ë° ì§ˆë¬¸ì˜ ë‹µ ë“± ì—¬ëŸ¬ ìœ ìš©í•œ ë°ì´í„°ê°€ ì›¹ í˜ì´ì§€ì— í¬í•¨ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

2. **HTMLì˜ êµ¬ì¡°**
   - **`<!DOCTYPE html>`**: HTML ë¬¸ì„œì„ì„ ì„ ì–¸.
   - **`<html>` íƒœê·¸**: HTML ë¬¸ì„œì˜ ë£¨íŠ¸(root) ìš”ì†Œ.
   - **`<head>` íƒœê·¸**: ë©”íƒ€ ì •ë³´ í¬í•¨.
   - **`<body>` íƒœê·¸**: ì›¹ í˜ì´ì§€ì— í‘œì‹œë˜ëŠ” ë°ì´í„°.

---

### ğŸ·ï¸ **HTML íƒœê·¸(HTML Tag)**
1. **íƒœê·¸ì˜ êµ¬ì„±**
   - **ì‹œì‘ íƒœê·¸(Start Tag)**: `<íƒœê·¸ì´ë¦„>`
   - **ì¢…ë£Œ íƒœê·¸(End Tag)**: `</íƒœê·¸ì´ë¦„>`
   - **ì†ì„±(Attribute)**: íƒœê·¸ì˜ ì¶”ê°€ ì •ë³´ë¥¼ ì œê³µ. ì˜ˆ: `href="URL"`
     - ì˜ˆì‹œ: `<a href="https://www.ibm.com">IBM</a>` â†’ "IBM" í´ë¦­ ì‹œ í•´ë‹¹ URLë¡œ ì´ë™.

2. **ì¤‘ìš” íƒœê·¸**
   - **`<h3>` íƒœê·¸**: í—¤ë”©(Heading) - í…ìŠ¤íŠ¸ë¥¼ í¬ê²Œ ë³¼ë“œ ì²˜ë¦¬.
   - **`<p>` íƒœê·¸**: ë¬¸ë‹¨(Paragraph) - ë³¸ë¬¸ í…ìŠ¤íŠ¸ í¬í•¨.
   - **`<table>` íƒœê·¸**: í…Œì´ë¸” ì •ì˜.
     - `<tr>`: í…Œì´ë¸” í–‰(row) ì •ì˜.
     - `<td>`: í…Œì´ë¸” ì…€(cell) ì •ì˜.

---

### ğŸŒ² **HTML íŠ¸ë¦¬ êµ¬ì¡°**
1. **íŠ¸ë¦¬(Tree) ê°œë…**
   - **ë£¨íŠ¸(Root)**: `<html>` íƒœê·¸.
   - **ìì‹(Children)**: `<head>` ë° `<body>` íƒœê·¸ëŠ” `<html>` íƒœê·¸ì˜ ìì‹.
   - **í˜•ì œ(Siblings)**: `<head>`ì™€ `<body>`ëŠ” ë™ì¼ ë ˆë²¨ì— ìˆì–´ í˜•ì œ ê´€ê³„.
   - **ìì†(Descendants)**: `<title>`ì€ `<html>`ì˜ ìì†ì´ì§€ë§Œ, ìì‹ì€ ì•„ë‹˜.

2. **ì˜ˆì‹œ**
   - `<html>` â†’ `<head>` â†’ `<title>`
   - `<html>` â†’ `<body>` â†’ `<h3>` â†’ `<b>`

---

### ğŸ› ï¸ **ì›¹ ìŠ¤í¬ë˜í•‘(Web Scraping)**
1. **ë°ì´í„° í™•ì¸ ë° ì¶”ì¶œ**
   - ì›¹ ë¸Œë¼ìš°ì €ì˜ **"ê²€ì‚¬(Inspect)" ê¸°ëŠ¥**ìœ¼ë¡œ HTML ìš”ì†Œë¥¼ í™•ì¸.
   - **Python** ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•´ ë°ì´í„° ì¶”ì¶œ ê°€ëŠ¥.

2. **ë°ì´í„° êµ¬ì¡°**
   - ë°ì´í„°ëŠ” íƒœê·¸ì™€ íƒœê·¸ ì†ì˜ ë‚´ìš©ìœ¼ë¡œ êµ¬ì„±ë¨.
   - ì˜ˆì‹œ: ì„ ìˆ˜ ì´ë¦„ê³¼ ì—°ë´‰ ë°ì´í„°ë¥¼ `<h3>` ë° `<p>` íƒœê·¸ë¡œ ì¶”ì¶œ.

---

ê°•ì˜ì—ì„œëŠ” HTMLì˜ ê¸°ì´ˆì™€ ì´ë¥¼ í™œìš©í•œ ë°ì´í„° ì¶”ì¶œì˜ ê¸°ë³¸ ì›ë¦¬ë¥¼ ëª…í™•íˆ ì„¤ëª…í•˜ê³  ìˆìœ¼ë©°, Pythonì„ ì‚¬ìš©í•´ ì›¹ ë°ì´í„° ë¶„ì„ì˜ ê¸°ë°˜ì„ ì œê³µí•˜ëŠ” ê²ƒì´ ëª©í‘œì…ë‹ˆë‹¤.

---

### ğŸ¯ **ê°•ì˜ ëª©í‘œ**
- BeautifulSoup ê°ì²´ì™€ HTML íŠ¸ë¦¬ êµ¬ì¡°ë¥¼ ì´í•´.
- `find_all` ë©”ì„œë“œë¥¼ í™œìš©í•´ ë°ì´í„° í•„í„°ë§.
- Requestsì™€ BeautifulSoupì„ ì¡°í•©í•´ ì›¹ í˜ì´ì§€ ë°ì´í„° ì¶”ì¶œ.
---

### ğŸŒ **Web Scraping ê°œìš”**
1. **Web Scraping ì •ì˜**
   - ì›¹ì—ì„œ ë°ì´í„°ë¥¼ ìë™ìœ¼ë¡œ ì¶”ì¶œí•˜ëŠ” ê³¼ì •.
   - ìˆ˜ì‘ì—…ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë³µì‚¬/ë¶™ì—¬ë„£ëŠ” ëŒ€ì‹  Python ì½”ë“œë¥¼ ì‚¬ìš©í•˜ì—¬ íš¨ìœ¨ì ìœ¼ë¡œ ì²˜ë¦¬ ê°€ëŠ¥.

2. **í™œìš© ì‚¬ë¡€**
   - ì˜ˆ: ìŠ¤í¬ì¸  íŒ€ì˜ ì„ ìˆ˜ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ê¸° ìœ„í•´ ìˆ˜ë°± ê°œì˜ ë°ì´í„°ë¥¼ ëª¨ì„ ë•Œ, ì›¹ ìŠ¤í¬ë˜í•‘ì„ í†µí•´ ë¹ ë¥´ê²Œ í•„ìš”í•œ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•  ìˆ˜ ìˆìŒ.

---

### ğŸ› ï¸ **ì£¼ìš” ë„êµ¬ ë° ë¼ì´ë¸ŒëŸ¬ë¦¬**
1. **í•„ìš”í•œ Python ëª¨ë“ˆ**
   - **Requests**: ì›¹ í˜ì´ì§€ë¥¼ ë‹¤ìš´ë¡œë“œ.
   - **BeautifulSoup**: HTML ë°ì´í„°ë¥¼ íŒŒì‹±(Parsing)í•˜ì—¬ êµ¬ì¡°ì ìœ¼ë¡œ ë¶„ì„.

2. **BeautifulSoup Object**
   - HTML ë¬¸ì„œë¥¼ BeautifulSoup ê°ì²´ë¡œ ë³€í™˜í•˜ì—¬ íŠ¸ë¦¬(Tree) êµ¬ì¡°ë¡œ í‘œí˜„.
   - ì˜ˆ: `soup = BeautifulSoup(HTML, 'html.parser')`

---

### ğŸ·ï¸ **BeautifulSoupì˜ ì£¼ìš” ê¸°ëŠ¥**
1. **HTML íŠ¸ë¦¬ êµ¬ì¡° íƒìƒ‰**
   - **Tag ê°ì²´**: HTML íƒœê·¸ì— í•´ë‹¹. ì˜ˆ: `<title>`, `<h3>`.
   - **ì†ì„±(Attribute)**: ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ íƒœê·¸ì˜ ì†ì„± ì ‘ê·¼ ê°€ëŠ¥. ì˜ˆ: `tag['href']`.
   - **Navigable String**: íƒœê·¸ ë‚´ í…ìŠ¤íŠ¸ë¥¼ ë¬¸ìì—´ë¡œ ë°˜í™˜.
   - **íŠ¸ë¦¬ íƒìƒ‰ ë°©ë²•**:
     - ìì‹ ë…¸ë“œ(Child): `.contents` ë˜ëŠ” `.children` ì†ì„±.
     - ë¶€ëª¨ ë…¸ë“œ(Parent): `.parent` ì†ì„±.
     - í˜•ì œ ë…¸ë“œ(Sibling): `.next_sibling` ë˜ëŠ” `.previous_sibling` ì†ì„±.

2. **find_all() ë©”ì„œë“œ**
   - íŠ¹ì • íƒœê·¸ ì´ë¦„, ì†ì„±, í…ìŠ¤íŠ¸ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•˜ì—¬ ëª¨ë“  í•˜ìœ„ ìš”ì†Œë¥¼ ì°¾ìŒ.
   - ì˜ˆ: `soup.find_all('tr')` â†’ `<tr>` íƒœê·¸ë¥¼ ëª¨ë‘ ê²€ìƒ‰.

3. **í…Œì´ë¸” ë°ì´í„° ì²˜ë¦¬**
   - **í…Œì´ë¸” í–‰**: `<tr>` íƒœê·¸.
   - **í…Œì´ë¸” ì…€**: `<td>` íƒœê·¸.
   - ê° í–‰ì„ ë°˜ë³µ(iterate)í•˜ì—¬ ì…€ ë°ì´í„°ë¥¼ ì¶”ì¶œ ê°€ëŠ¥:
     ```python
     rows = table.find_all('tr')
     for row in rows:
         cells = row.find_all('td')
         for cell in cells:
             print(cell.text)
     ```

---

### ğŸŒ **ì›¹ í˜ì´ì§€ ìŠ¤í¬ë˜í•‘ ë‹¨ê³„**
1. **í•„ìš”í•œ ëª¨ë“ˆ ê°€ì ¸ì˜¤ê¸°**
   ```python
   import requests
   from bs4 import BeautifulSoup
   ```

2. **ì›¹ í˜ì´ì§€ ë‹¤ìš´ë¡œë“œ**
   - **Requests**ì˜ `get()` ë©”ì„œë“œ ì‚¬ìš©:
     ```python
     response = requests.get(URL)
     page = response.text
     ```

3. **HTML íŒŒì‹±**
   - BeautifulSoup ê°ì²´ ìƒì„±:
     ```python
     soup = BeautifulSoup(page, 'html.parser')
     ```

4. **ë°ì´í„° ì¶”ì¶œ**
   - í•„ìš”í•œ íƒœê·¸ ë° ì†ì„± ê²€ìƒ‰:
     ```python
     data = soup.find_all('h3')
     for item in data:
         print(item.text)
     ```



<a id=Lab></a>
# Web Scraping Lab

### Objectives:

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href=#BSO>Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li><a href=#tree>Children, Parents, and Siblings</a></li>
                <li><a href=#attrs>HTML Attributes ì ‘ê·¼í•˜ê¸°</a></li>
                <li><a href=#nav>Navigation String</a></li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href=#Filter>Filter</a>
            <ul>
                <li><a href=#findAll>find All</a></li>
                <li><a href=#find><code>name</code>ì‚¬ìš© ë²•</a> </li>
                <li><a href=#Attributes>HTML Attributes</a></li>
                <li><a href=#string>Navigable String</a></li>
                <li><a href=#find>find</a>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="https://dscw/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Downloading And Scraping The Contents Of A Web</a>
    </li>
         </ul>
    <p>
        Estimated time needed: <strong>25 min</strong>
    </p>

</div>

<hr>

In [1]:
from bs4 import BeautifulSoup  # this module helps in web scrapping.
import requests  # this module helps us to download a web page

<a id=BSO></a><h1>Beautiful Soup Objects</h1>
Beautiful Soupì€ Pythonì—ì„œ HTML ë° XML íŒŒì¼ë¡œë¶€í„° ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê¸° ìœ„í•œ ê°•ë ¥í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤. ì—¬ê¸°ì„œëŠ” HTML íŒŒì¼ì„ ì¤‘ì‹¬ìœ¼ë¡œ ì„¤ëª…í•©ë‹ˆë‹¤. Beautiful Soupì€ HTMLì„ ê°ì²´ ì§‘í•©ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ ë‹¤ì–‘í•œ ë©”ì„œë“œë¥¼ í†µí•´ íŒŒì‹±í•˜ê³  íƒìƒ‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ğŸ› ï¸

ì•„ë˜ëŠ” ì œê³µëœ HTML ì½”ë“œì™€ BeautifulSoupì„ ì‚¬ìš©í•œ ë°ì´í„° ì²˜ë¦¬ ë°©ë²•ì— ëŒ€í•œ ìì„¸í•œ ì„¤ëª…ì…ë‹ˆë‹¤. ğŸ¯

ğŸ“„ HTML ì½”ë“œ
ë‹¤ìŒ HTML ì½”ë“œëŠ” ì„ ìˆ˜ ì´ë¦„ê³¼ ì—°ë´‰ ë°ì´í„°ë¥¼ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤:

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

### ğŸ› ï¸ BeautifulSoup ì‚¬ìš©

1. HTML ë¬¸ìì—´ ì €ì¥ HTML ë‚´ìš©ì„ Python ë¬¸ìì—´ë¡œ ì €ì¥:

In [13]:
html = """
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h3><b id='boldest'>Lebron James</b></h3>
    <p> Salary: $ 92,000,000 </p>
    <h3> Stephen Curry</h3>
    <p> Salary: $85,000, 000 </p>
    <h3><b class='high-class-elf'> Kevin Durant</b> </h3>
    <p> Salary: $73,200, 000</p>
</body>
</html>
"""

2. HTML íŒŒì‹± BeautifulSoup ê°ì²´ë¥¼ ìƒì„±:

In [14]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

3. **HTML** íŠ¸ë¦¬ êµ¬ì¡° í™•ì¸
* `prettify()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ íŠ¸ë¦¬êµ¬ì¡°ë¡œ HTMLì„ í™•ì¸:

In [15]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   <b class="high-class-elf">
    Kevin Durant
   </b>
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

ğŸ” ë°ì´í„° íƒìƒ‰ ë° ì¶”ì¶œ

1. íŠ¹ì • íƒœê·¸ ê²€ìƒ‰
    * ì„ ìˆ˜ ì´ë¦„(Lebron James, Stephen Curry ë“±) ì¶”ì¶œ:

In [16]:
names = soup.find_all("h3")
for name in names:
    print(name.text)

Lebron James
 Stephen Curry
 Kevin Durant

2. ì†ì„±(Attribute)ê°’ ì¶”ì¶œ
    * `id="boldest"` ì†ì„±ì„ ê°€ì§„ íƒœê·¸ ë‚´ìš© ì¶”ì¶œ

In [17]:
bolest = soup.find("b", {"id":"boldest"})
print(bolest.text)

Lebron James

In [21]:
high = soup.find("b", class_=lambda x: x and x.startswith('high'))
print(high.text)

 Kevin Durant

3. ì—°ë´‰(Salary) ë°ì´í„° ì¶”ì¶œ
    * `<p>` íƒœê·¸ì—ì„œ ì—°ë´‰ ê°’ ì¶”ì¶œ:

In [12]:
salaries = soup.find_all('p')
for salary in salaries:
    print(salary.text.strip())

Salary: $ 92,000,000
Salary: $85,000, 000
Salary: $73,200, 000

ğŸ¯ ê²°ë¡ 
BeautifulSoupì„ í™œìš©í•´ HTML ë°ì´í„°ë¥¼ íŒŒì‹±í•˜ê³ , íŠ¸ë¦¬ êµ¬ì¡°ë¥¼ íƒìƒ‰í•˜ë©°, í•„ìš”í•œ ë°ì´í„°ë¥¼ ì†ì‰½ê²Œ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.


### ğŸ“„ **Tag ê°ì²´ì˜ ì‚¬ìš©**
1. **Tag ê°ì²´ ì¶”ì¶œ**
   - **`<title>` íƒœê·¸**ì—ì„œ í˜ì´ì§€ ì œëª© ì¶”ì¶œ:

In [23]:
tag_object = soup.title
print("Tag object:", tag_object)
print("Tag object type:", type(tag_object))

Tag object: <title>Page Title</title>
Tag object type: <class 'bs4.element.Tag'>

1. **Tag ì´ë¦„ í™•ì¸ ë° ê°’ ì¶”ì¶œ**
   - Tagì˜ ì´ë¦„ê³¼ í…ìŠ¤íŠ¸ ê°’ì„ ì¶”ì¶œ:

In [25]:
print("Tag name:", tag_object.name)
print("Tag text:", tag_object.text)

Tag name: title
Tag text: Page Title

### ğŸ·ï¸ ìµœê³  ì—°ë´‰ ì„ ìˆ˜ì˜ ì´ë¦„ ì¶”ì¶œ
1. **ì²« ë²ˆì§¸ `<h3>` íƒœê·¸ ì¶”ì¶œ**
   - **`<h3>` íƒœê·¸**ì—ì„œ ì²« ë²ˆì§¸ ìš”ì†Œ ì¶”ì¶œ:
     ```python

In [38]:
tag_object = soup.h3
print('Tag object:', tag_object)

Tag object: <h3><b id="boldest">Lebron James</b></h3>

2. **íŠ¸ë¦¬ íƒìƒ‰ìœ¼ë¡œ ì„ ìˆ˜ ì´ë¦„ ì¶”ì¶œ**
   - **`<b>` íƒœê·¸**ë¥¼ í†µí•´ ì´ë¦„ ê°€ì ¸ì˜¤ê¸°:

In [39]:
print("Player name:", tag_object.b.text)

Player name: Lebron James

3. **ì†ì„± ê°’ í™•ì¸**
   - `id="boldest"` ì†ì„± ê°’ ì ‘ê·¼:

In [46]:
print(tag_object.b['id'])

<class 'str'>

[Tip]. **ì„¸ ë²ˆì§¸ `<h3>` íƒœê·¸ ì¶”ì¶œ**

In [42]:
tag_obj = soup.find_all('h3')[2]
print("Tag object:", tag_obj)

Tag object: <h3><b class="high-class-elf"> Kevin Durant</b> </h3>

In [45]:
print("Player name:", tag_obj.text)
print(tag_obj.b['class'])

Player name:  Kevin Durant
['high-class-elf']

<div class='alert alert-block alert-success'>
    [Tip] ğŸ“– ì™œ classëŠ” ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜ë˜ëŠ”ê°€?
    <li>class ì†ì„±ì€ í•œ ìš”ì†Œì— ì—¬ëŸ¬ í´ë˜ìŠ¤ ê°’ì„ í• ë‹¹í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ, ê³µë°±ìœ¼ë¡œ êµ¬ë¶„ëœ ê°’ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•˜ì—¬ ë‹¤ë£° ìˆ˜ ìˆê²Œ ì„¤ê³„ë˜ì—ˆìŠµë‹ˆë‹¤.</li>
    <li> ë°˜ë©´, id ì†ì„±ì€ ë‹¨ì¼ ê³ ìœ ê°’ë§Œ ê°€ì§€ë¯€ë¡œ ë¬¸ìì—´ë¡œ ë°˜í™˜ë©ë‹ˆë‹¤.</li>
</div>

<a id=tree></a>

### Children, Parents, and Siblings

##### ğŸŒŸ Tag ê°ì²´ì˜ íŠ¸ë¦¬ êµ¬ì¡° íƒìƒ‰
HTML ë¬¸ì„œëŠ” íŠ¸ë¦¬ êµ¬ì¡°ë¡œ ë˜ì–´ ìˆì–´, BeautifulSoupì„ í†µí•´ ìì‹(Children), ë¶€ëª¨(Parent), í˜•ì œ(Sibling) ìš”ì†Œë¥¼ ì‰½ê²Œ íƒìƒ‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [47]:
soup

<!DOCTYPE html>

<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id="boldest">Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3><b class="high-class-elf"> Kevin Durant</b> </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [50]:
tag_object

1. **Child: íƒœê·¸ì˜ ìì‹ ìš”ì†Œ**

In [51]:
tag_child = tag_object.b
tag_child

```
tag_objectëŠ” <h3> íƒœê·¸ì´ê³ , <b> íƒœê·¸ëŠ” ì´ <h3> íƒœê·¸ì˜ ìì‹ì…ë‹ˆë‹¤. ë”°ë¼ì„œ tag_childëŠ” <b id='boldest'>Lebron James</b>ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤.
```

**2. Parent: íƒœê·¸ì˜ ë¶€ëª¨ ìš”ì†Œ**

In [52]:
parent_tag = tag_child.parent
print(parent_tag)

<h3><b id="boldest">Lebron James</b></h3>

```
tag_childëŠ” <b> íƒœê·¸ì´ë¯€ë¡œ, ì´ íƒœê·¸ì˜ ë¶€ëª¨ëŠ” <h3> íƒœê·¸ì…ë‹ˆë‹¤. parent_tagëŠ” tag_objectì™€ ë™ì¼í•œ ê°’ì„ ê°€ì§‘ë‹ˆë‹¤.
```

**3. Sibling: íƒœê·¸ì™€ ê°™ì€ ë ˆë²¨ì— ìˆëŠ” ìš”ì†Œ**

In [62]:
tag_object.b

In [63]:
tag_object.b.parent

In [64]:
tag_object.b.parent.next_sibling

'\n'

<div class='alert alert-block alert-warning'>
    [Tip] ìœ„ì™€ ê°™ì´ `next_sibling`ì„ í–ˆì„ë•Œ <b>ê³µë°±ë¬¸ì (\n)</b>ì´ ë‚˜ì˜¨ë‹¤ë©´<br>
    <b><code>.find_next_sibling()</code></b> ë©”ì„œë“œë¡œ ê³µë°±ì„ ìë™ìœ¼ë¡œ ê±´ë„ˆ ë›°ê±°ë‚˜,<br>
    <code>next_sibling</code>ë¥¼ ë°˜ë³µì‚¬ìš©í•˜ì—¬ ê³µë°±ì„ ê±´ë„ˆë›°ì–´ì•¼ í•©ë‹ˆë‹¤.
</div>

In [79]:
tag_object.find_next_sibling()

### **ì—°ìŠµë¬¸ì œ: next_sibling** 
next_sibling ì†ì„±ì„ ì‚¬ìš©í•˜ì—¬ sibling_2 ê°ì²´ë¥¼ í†µí•´ Stephen Curryì˜ ì—°ë´‰ì„ ì°¾ìœ¼ì„¸ìš”.

In [84]:
tag_object.find_next_sibling().find_next_sibling().find_next_sibling()

í˜¹ì€

In [88]:
soup.find('h3', text=' Stephen Curry').find_next_sibling()

<a id=attrs></a>
### HTML Attributes

ğŸŒŸ HTML Attributes ê°œë…
HTML íƒœê·¸ì—ëŠ” ì—¬ëŸ¬ **ì†ì„±(attributes)**ì´ í¬í•¨ë  ìˆ˜ ìˆìœ¼ë©°, BeautifulSoupì„ ì‚¬ìš©í•˜ë©´ íƒœê·¸ì˜ ì†ì„±ê°’ì— ì‰½ê²Œ ì ‘ê·¼í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ <b id="boldest">ë¼ëŠ” íƒœê·¸ì—ì„œ:

* ì†ì„±: id
* ì†ì„± ê°’: boldest

##### ì‚¬ì „ì²˜ëŸ¼ ì ‘ê·¼

In [89]:
tag_child['id']

'boldest'

##### `attrs` ì†ì„± ì´ìš©

In [90]:
tag_child.attrs

{'id': 'boldest'}

##### `get()` ë©”ì„œë“œ ì´ìš©

In [92]:
tag_child.get('id')

'boldest'

ë‹¤ì¤‘ ê°’ ì†ì„± HTMLì—ì„œëŠ” classì™€ ê°™ì€ ì†ì„±ì´ ì—¬ëŸ¬ ê°’ì„ ê°€ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤. BeautifulSoupì€ ì´ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•©ë‹ˆë‹¤.

In [110]:
tag = soup.find_all('h3')[-1]
tag.b['class']

['high-class-elf']

<a id=nav></a>
**NavigableString**ì€ íƒœê·¸ ë‚´ë¶€ì˜ í…ìŠ¤íŠ¸ ë˜ëŠ” ì½˜í…ì¸ ë¥¼ í‘œí˜„í•˜ëŠ” BeautifulSoupì˜ í´ë˜ìŠ¤ì…ë‹ˆë‹¤. ì•„ë˜ëŠ” ì´ ê°œë…ê³¼ ê´€ë ¨ëœ ì£¼ìš” ë‚´ìš© ë° ì½”ë“œ ë™ì‘ ë°©ì‹ì…ë‹ˆë‹¤.

---

### ğŸŒŸ **NavigableStringì˜ ì£¼ìš” íŠ¹ì§•**
1. **í…ìŠ¤íŠ¸ ì ‘ê·¼**
   - `string` ì†ì„±ì„ ì‚¬ìš©í•˜ì—¬ íƒœê·¸ ë‚´ë¶€ì˜ ì§ì ‘ì ì¸ í…ìŠ¤íŠ¸ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
   - ì˜ˆ: `<b id="boldest">Lebron James</b>`ì—ì„œ `string`ì€ `"Lebron James"`ë¥¼ ë°˜í™˜í•©ë‹ˆë‹¤.

2. **`.text`ì™€ì˜ ì°¨ì´**
   - `.string`: íƒœê·¸ì˜ ì§ì ‘ì ì¸ í…ìŠ¤íŠ¸ë§Œ ë°˜í™˜.
   - `.text`: ëª¨ë“  í•˜ìœ„ ìš”ì†Œë¥¼ í¬í•¨í•œ í…ìŠ¤íŠ¸ë¥¼ ë°˜í™˜.

---

In [111]:
html = """
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h3><b id='boldest'>Lebron James</b></h3>
    <p> Salary: $ 92,000,000 </p>
    <h3> Stephen Curry</h3>
    <p> Salary: $85,000, 000 </p>
    <h3><b class="high-class-elf"> Kevin Durant</b> </h3>
    <p> Salary: $73,200, 000</p>
</body>
</html>
"""

In [112]:
soup = BeautifulSoup(html, "html.parser")

In [113]:
# Extracting a NavigalbeString
tag_child = soup.b

In [114]:
tag_child

In [115]:
tag_child.string

'Lebron James'

In [117]:
type(tag_child.string)

bs4.element.NavigableString

In [116]:
tag_child.text

'Lebron James'

In [118]:
type(tag_child.text)

str



---

**NavigableString**ì€ ì •í™•íˆ ë§í•˜ë©´ Python ë¬¸ìì—´ ë˜ëŠ” Unicode ë¬¸ìì—´ê³¼ ê°™ìŠµë‹ˆë‹¤.  
ì£¼ëœ ì°¨ì´ì ì€ <code>BeautifulSoup</code>ì˜ ëª‡ ê°€ì§€ ê¸°ëŠ¥ì„ ì¶”ê°€ì ìœ¼ë¡œ ì§€ì›í•œë‹¤ëŠ” ì ì…ë‹ˆë‹¤.  
ì´ ë¬¸ìì—´ì„ Pythonì˜ ì¼ë°˜ ë¬¸ìì—´ ê°ì²´ë¡œ ë³€í™˜í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤:

---

In [119]:
unicode_string = str(tag_child.string)
unicode_string

'Lebron James'

In [120]:
type(unicode_string)

str

<a id=Filter></a>
<h1>Filter</h1>

<p>

í•„í„°ë¥¼ ì‚¬ìš©í•˜ë©´ ë³µì¡í•œ íŒ¨í„´ì„ ì°¾ì„ ìˆ˜ ìˆìœ¼ë©°, ê°€ì¥ ê°„ë‹¨í•œ í•„í„°ëŠ” ë¬¸ìì—´ì…ë‹ˆë‹¤.  
ì´ ì„¹ì…˜ì—ì„œëŠ” ë¬¸ìì—´ì„ ë‹¤ì–‘í•œ í•„í„° ë©”ì„œë“œì— ì „ë‹¬í•˜ë©´ Beautiful Soupì´ í•´ë‹¹ ë¬¸ìì—´ê³¼ ì •í™•íˆ ì¼ì¹˜í•˜ëŠ” í•­ëª©ì„ ê²€ìƒ‰í•˜ëŠ” ê³¼ì •ì„ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.  
ë‹¤ìŒì€ ë¡œì¼“ ë°œì‚¬ì™€ ê´€ë ¨ëœ HTML ì˜ˆì œì…ë‹ˆë‹¤:ğŸš€
</p>

%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [133]:
table = """
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"
</table>

"""

In [134]:
table_bs = BeautifulSoup(table, 'html.parser')

<a id=findAll></a>
<h3>find All</h3>


<code>find_all()</code> ë©”ì„œë“œëŠ” íƒœê·¸ì˜ ìì†ì„ íƒìƒ‰í•˜ì—¬ í•„í„° ì¡°ê±´ì— ì¼ì¹˜í•˜ëŠ” ëª¨ë“  ìì†ì„ ê²€ìƒ‰í•©ë‹ˆë‹¤.

<p>
<code>find_all(name, attrs, recursive, string, limit, **kwargs)</code> ë©”ì„œë“œì˜ ì‹œê·¸ë‹ˆì²˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
</p>

<h3>Name</h3>
<code>name</code> ë§¤ê°œë³€ìˆ˜ë¥¼ íƒœê·¸ ì´ë¦„ìœ¼ë¡œ ì„¤ì •í•˜ë©´, ë©”ì„œë“œëŠ” í•´ë‹¹ ì´ë¦„ì„ ê°€ì§„ ëª¨ë“  íƒœê·¸ì™€ ê·¸ ìì‹ íƒœê·¸ë¥¼ ì¶”ì¶œí•©ë‹ˆë‹¤.

In [135]:
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [136]:
first_row = table_rows[0]
first_row

In [137]:
print(type(first_row))

<class 'bs4.element.Tag'>

child ê°ì²´ ì–»ê¸°

In [138]:
first_row.td

ë¦¬ìŠ¤íŠ¸ë¥¼ ë°˜ë³µ(iterate)í•  ê²½ìš°, ê° ìš”ì†ŒëŠ” í…Œì´ë¸”ì˜ í•œ í–‰ì— í•´ë‹¹í•©ë‹ˆë‹¤.

In [139]:
for i, row in enumerate(table_rows):
    print("row", i, "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

---

<code>row</code>ê°€ <code>cell</code> ê°ì²´ì´ê¸° ë•Œë¬¸ì—, í•´ë‹¹ ê°ì²´ì— <code>find_all</code> ë©”ì„œë“œë¥¼ ì ìš©í•˜ì—¬ íƒœê·¸ <code>td</code>ë¥¼ ì‚¬ìš©í•´ ê°ì²´ <code>cells</code>ì—ì„œ í…Œì´ë¸” ì…€ì„ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ì´ íƒœê·¸ëŠ” ì´ë¦„ì´ <code>td</code>ì¸ ëª¨ë“  ìì‹ì„ í¬í•¨í•©ë‹ˆë‹¤.  
ê²°ê³¼ëŠ” ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜ë˜ë©°, ê° ìš”ì†ŒëŠ” ì…€ì— í•´ë‹¹í•˜ê³  <code>Tag</code> ê°ì²´ì…ë‹ˆë‹¤.  
ì´ ë¦¬ìŠ¤íŠ¸ë„ ë°˜ë³µ(iterate)í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
<code>string</code> ì†ì„±ì„ ì‚¬ìš©í•˜ì—¬ ì½˜í…ì¸ ë¥¼ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---

In [141]:
for i, row in enumerate(table_rows):
    print("row", i)
    cells = row.find_all('td')
    for j, cell in enumerate(cells):
        print('column', j, "cell", cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
column 2 cell <td>80 kg</td>

<a id=find></a>
ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•˜ë©´ í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ì˜ ì–´ë–¤ í•­ëª©ê³¼ë„ ì¼ì¹˜ì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [142]:
list_input = table_bs.find_all(name = ["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]


<h3>[Tip] ğŸ“š ì½”ë“œ ë™ì‘ ì„¤ëª…</h3>
<div class="alert alert-block alert-success">
    <code>find_all</code> ë©”ì„œë“œì—ì„œ <code>name</code> ë§¤ê°œë³€ìˆ˜ì— ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•˜ë©´ <b>í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ì™€ ì¼ì¹˜í•˜ëŠ” ëª¨ë“  íƒœê·¸ë¥¼ ê²€ìƒ‰í•˜ì—¬ ë°˜í™˜</b>í•©ë‹ˆë‹¤.
</div>

<a id=Attributes></a>
<h3>Attributes</h3>


---

ì¸ìˆ˜ê°€ ì¸ì‹ë˜ì§€ ì•Šì„ ê²½ìš°, í•´ë‹¹ ì¸ìˆ˜ëŠ” íƒœê·¸ì˜ ì†ì„±ì— ëŒ€í•œ í•„í„°ë¡œ ë³€í™˜ë©ë‹ˆë‹¤.  
ì˜ˆë¥¼ ë“¤ì–´, `id` ì¸ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ Beautiful Soupì€ ê° íƒœê·¸ì˜ `id` ì†ì„±ì„ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•©ë‹ˆë‹¤.  
ì˜ˆë¥¼ ë“¤ì–´, ì²« ë²ˆì§¸ `td` ìš”ì†Œë“¤ì€ `id` ì†ì„± ê°’ìœ¼ë¡œ `flight`ë¥¼ ê°€ì§€ê³  ìˆìœ¼ë¯€ë¡œ, ì´ `id` ê°’ì„ ê¸°ë°˜ìœ¼ë¡œ í•„í„°ë§í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---

In [144]:
table_bs.find_all(id="flight")

í”Œë¡œë¦¬ë‹¤ ìœ„í‚¤ë°±ê³¼ í˜ì´ì§€ë¡œ ì—°ê²°ëœ ë§í¬ë¥¼ ê°€ì§„ ëª¨ë“  ìš”ì†Œë¥¼ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [145]:
list_input = table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

<h4>[Tip]</h4>
<div class='alert alert-block alert-warning'>
<code>href</code> ì†ì„±ì„ Trueë¡œ ì„¤ì •í•˜ë©´, ê°’ì´ ë¬´ì—‡ì´ë“  ìƒê´€ì—†ì´ <code>href</code> ê°’ì„ ê°€ì§„ ëª¨ë“  íƒœê·¸ë¥¼ ì°¾ìŠµë‹ˆë‹¤.
    
    


---

ì†ì„±ì„ ì²˜ë¦¬í•˜ê±°ë‚˜ ê´€ë ¨ ì‘ì—…ì„ ìˆ˜í–‰í•  ìˆ˜ ìˆëŠ” ë‹¤ë¥¸ ë©”ì„œë“œë“¤ë„ ìˆìŠµë‹ˆë‹¤. ìì„¸í•œ ë‚´ìš©ì€ ë‹¤ìŒ [ë§í¬](https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01#css-selectors)ë¥¼ í™•ì¸í•˜ì„¸ìš”.

---


</div>

In [146]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

In [147]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [152]:
table_bs.find_all('a', href=False)

[]

Beautiful Soupì„ ì‚¬ìš©í•˜ì—¬ id ì†ì„±ì´ "boldest"ë¡œ ì„¤ì •ëœ ìš”ì†Œë¥¼ ì°¾ê¸°

In [156]:
table_bs.find_all(id="boldest")

[]

<a id=string></a>
### string

`string`ì„ ì‚¬ìš©í•˜ë©´ íƒœê·¸ ëŒ€ì‹  ë¬¸ìì—´ì„ ê²€ìƒ‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´, Floridaë¼ëŠ” ë¬¸ìì—´ì´ í¬í•¨ëœ ëª¨ë“  ìš”ì†Œë¥¼ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [157]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [158]:
floridas = table_bs.find_all(string="Florida")

In [159]:
type(floridas)

bs4.element.ResultSet

In [160]:
type(floridas[0])

bs4.element.NavigableString

In [161]:
floridas[0].parent

In [167]:
floridas[0].parent.parent.next_sibling

In [170]:
floridas[0].parent.parent.parent.next_sibling

ìœ„ì™€ ê°™ì€ ë°©ë²•ìœ¼ë¡œ `string`ì„ í†µí•´ ì°¾ì€ ê²°ê³¼ ê°’ìœ¼ë¡œ ê·¸ `parent`, `sibling`, `child`ë„ ì°¾ì„ ìˆ˜ ìˆë‹¤.

<a id=find></a>
<h3>find</h3>

<code>find_all()</code> ë©”ì„œë“œëŠ” ì „ì²´ ë¬¸ì„œë¥¼ ìŠ¤ìº”í•˜ì—¬ ê²°ê³¼ë¥¼ ì°¾ìŠµë‹ˆë‹¤.
ë§Œì•½ í•˜ë‚˜ì˜ ìš”ì†Œë§Œ ì°¾ìœ¼ë ¤ë©´ <code>find()</code> ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë¬¸ì„œì—ì„œ ì²« ë²ˆì§¸ ìš”ì†Œë¥¼ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ë‹¤ìŒ ë‘ ê°œì˜ í…Œì´ë¸”ì„ ì˜ˆë¡œ ë“¤ì–´ ë³´ê² ìŠµë‹ˆë‹¤:

In [171]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

HTMLì„ Python ë¬¸ìì—´ë¡œ ì €ì¥í•˜ê³  <code>two_tables</code>ì— í• ë‹¹í•©ë‹ˆë‹¤:

In [172]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

`two_tables_bs`ë¼ëŠ” BeautifulSoup ê°ì²´ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

In [173]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

íƒœê·¸ ì´ë¦„ `table`ì„ ì‚¬ìš©í•˜ì—¬ ì²« ë²ˆì§¸ í…Œì´ë¸”ì„ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [174]:
two_tables_bs.find('table')

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

---

`class` ì†ì„±ì„ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•˜ì—¬ ë‘ ë²ˆì§¸ í…Œì´ë¸”ì„ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. í•˜ì§€ë§Œ `class`ëŠ” Pythonì—ì„œ ì˜ˆì•½ì–´ì´ë¯€ë¡œ, ë°‘ì¤„(`_`)ì„ ì¶”ê°€í•´ì•¼ í•©ë‹ˆë‹¤.

---

In [175]:
two_tables_bs.find('table', class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2> 

ì›¹ í˜ì´ì§€ì˜ ë‚´ìš©ì„ ë‹¤ìš´ë¡œë“œí•©ë‹ˆë‹¤:

In [176]:
url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"


---

ì›¹ í˜ì´ì§€ì˜ ë‚´ìš©ì„ í…ìŠ¤íŠ¸ í˜•ì‹ìœ¼ë¡œ ë‹¤ìš´ë¡œë“œí•˜ê¸° ìœ„í•´ <code>get</code>ì„ ì‚¬ìš©í•˜ë©°, ì´ë¥¼ <code>data</code>ë¼ëŠ” ë³€ìˆ˜ì— ì €ì¥í•©ë‹ˆë‹¤.

---

In [177]:
data = requests.get(url).text


---

<code>BeautifulSoup</code> ìƒì„±ìë¥¼ ì‚¬ìš©í•˜ì—¬ <code>BeautifulSoup</code> ê°ì²´ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

---

In [179]:
soup = BeautifulSoup(data, 'html.parser')

ëª¨ë“  ë§í¬ë“¤ì„ Scrapeí•©ë‹ˆë‹¤.

In [181]:
for link in soup.find_all('a', href=True):
    print(link.get("href"))

https://web.archive.org/web/20230224123642/https://www.ibm.com/reports/threat-intelligence/
https://web.archive.org/web/20230224123642/https://www.ibm.com/about
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/strategy/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/ibmix?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/technology/
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/operations/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/strategic-partnerships
https://web.archive.org/web/20230224123642/https://www.ibm.com/employment/?lnk=flatitem
https://web.archive.org/web/20230224123642/https://www.ibm.com/impact
https://web.archive.org/web/20230224123642/https://research.ibm.com/
https://web.archive.org/web/20230224123642/https://www.ibm.com/

## Scrape  all images  Tags

In [183]:
for link in soup.find_all('img'):
    print(link.get('src'))

https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

## Scrape data from HTML tables

In [184]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

---

ì›¹ì‚¬ì´íŠ¸ë¥¼ ìŠ¤í¬ë©í•˜ê¸° ì „ì—, ì½˜í…ì¸ ì™€ ë°ì´í„°ê°€ ì›¹ì‚¬ì´íŠ¸ì—ì„œ ì–´ë–»ê²Œ êµ¬ì„±ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸í•´ì•¼ í•©ë‹ˆë‹¤. ìœ„ì˜ URLì„ ë¸Œë¼ìš°ì €ì—ì„œ ì—´ê³  ìƒ‰ìƒ í…Œì´ë¸”ì— ëª‡ ê°œì˜ í–‰ê³¼ ì—´ì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.

---

In [186]:
# ì›¹í˜ì´ì§€ì˜ ë‚´ìš©ì„ í…ìŠ¤íŠ¸ í˜•ì‹ìœ¼ë¡œ ê°€ì ¸ì™€ì„œ dataë¼ëŠ” ë³€ìˆ˜ì— ì €ì¥í•©ë‹ˆë‹¤.
data = requests.get(url).text

In [199]:
soup = BeautifulSoup(data, 'html.parser')

In [200]:
# html tableì„ ì›¹í˜ì´ì§€ì—ì„œ ì°¾ìŠµë‹ˆë‹¤.
soup.find_all('tbody')

[]

<h4>[Tip] ìœ„ <code>.find_all('tbody')</code>ê²°ê³¼ê°€ ë¹ˆ ë¦¬ìŠ¤íŠ¸ì¸ ì´ìœ </h4>
<div class='alert alert-block alert-danger'>    
    <li>ì‹¤ì œë¡œ requestsì—ì„œ ê°€ì ¸ì˜¨ textì™€ Dev Toolì— ë³´ì´ëŠ” ë¸Œë¼ìš°ì €ì—ì„œ ëœë”ë§ëœ HTMLê³¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. </li>
    <li>Javascriptë¡œ ëœë”ë§ëœ ê²°ê³¼ëŠ” í¬í•¨ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. tbodyíƒœê·¸ëŠ” JavaScriptë¥¼ í†µí•´ ë™ì ìœ¼ë¡œ ìƒì„±ë˜ì—ˆì„ ê°€ëŠ¥ì„±ì´í½ë‹ˆë‹¤.</li>
    ë”°ë¼ì„œ tbodyë¡œ ì°¾ì€ ê²°ê³¼ê°€ ì—†ë‹¤ê³  ë‚˜ì˜µë‹ˆë‹¤.
</div>

In [212]:
# html tableì„ ì›¹í˜ì´ì§€ì—ì„œ ì°¾ìŠµë‹ˆë‹¤.
table = soup.find('table')

In [215]:
# ëª¨ë“  í–‰ì„ í…Œì´ë¸”ì—ì„œ ê°€ì ¸ì˜µë‹ˆë‹¤.
for row in table.find_all('tr'):
    # ëª¨ë“  ì—´ì„ ê°€ì ¸ì˜µë‹ˆë‹¤.
    cols = row.find_all('td')
    color_name = cols[2].string
    color_code = cols[3].string
    print(f"{color_name} --> {color_code}")

Color Name --> None
lightsalmon --> #FFA07A
salmon --> #FA8072
darksalmon --> #E9967A
lightcoral --> #F08080
coral --> #FF7F50
tomato --> #FF6347
orangered --> #FF4500
gold --> #FFD700
orange --> #FFA500
darkorange --> #FF8C00
lightyellow --> #FFFFE0
lemonchiffon --> #FFFACD
papayawhip --> #FFEFD5
moccasin --> #FFE4B5
peachpuff --> #FFDAB9
palegoldenrod --> #EEE8AA
khaki --> #F0E68C
darkkhaki --> #BDB76B
yellow --> #FFFF00
lawngreen --> #7CFC00
chartreuse --> #7FFF00
limegreen --> #32CD32
lime --> #00FF00
forestgreen --> #228B22
green --> #008000
powderblue --> #B0E0E6
lightblue --> #ADD8E6
lightskyblue --> #87CEFA
skyblue --> #87CEEB
deepskyblue --> #00BFFF
lightsteelblue --> #B0C4DE
dodgerblue --> #1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [222]:
import pandas as pd

In [223]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

ì›¹ì‚¬ì´íŠ¸ë¥¼ ìŠ¤í¬ë©í•˜ê¸° ì „ì—, ì½˜í…ì¸ ì™€ ë°ì´í„°ê°€ ì›¹ì‚¬ì´íŠ¸ì—ì„œ ì–´ë–»ê²Œ êµ¬ì„±ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸í•´ì•¼ í•©ë‹ˆë‹¤. ìœ„ì˜ URLì„ ë¸Œë¼ìš°ì €ì—ì„œ ì—´ì–´ ì›¹í˜ì´ì§€ì˜ í…Œì´ë¸”ì„ í™•ì¸í•˜ì„¸ìš”.

In [225]:
data = requests.get(url).text

In [226]:
soup = BeautifulSoup(data, 'html.parser')

In [229]:
# find all html tables in the web page

tables = soup.find_all('table')

In [230]:
len(tables)

30


---

ìš°ë¦¬ê°€ `ì¸êµ¬ ë°€ë„ê°€ ê°€ì¥ ë†’ì€ 10ê°œ êµ­ê°€` í…Œì´ë¸”ì„ ì°¾ê³  ìˆë‹¤ê³  ê°€ì •í•´ë´…ì‹œë‹¤. í…Œì´ë¸” ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚´í´ë³´ê³  ê° í…Œì´ë¸”ì— í¬í•¨ëœ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì›í•˜ëŠ” í…Œì´ë¸”ì„ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ë˜ëŠ” í…Œì´ë¸” ì´ë¦„ì´ í¬í•¨ë˜ì–´ ìˆë‹¤ë©´ ì´ë¥¼ ê²€ìƒ‰í•˜ì—¬ ì°¾ì„ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤. í•˜ì§€ë§Œ ì´ ë°©ë²•ì€ í•­ìƒ ì‘ë™í•˜ì§€ ì•Šì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---

In [231]:
for idx, table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = idx
        
print(table_index)

7



---

ì•„ë˜ì—ì„œ `ì¸êµ¬ ë°€ë„ê°€ ê°€ì¥ ë†’ì€ 10ê°œ êµ­ê°€` í…Œì´ë¸”ì˜ ì´ë¦„ì„ ì°¾ì„ ìˆ˜ ìˆëŠ”ì§€ í™•ì¸í•´ ë³´ì„¸ìš”.

---

In [232]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5Â million)
  </small>
  <sup class="reference" id="cite_ref-:10_104-0">
   <a href="#cite_note-:10-104">
    <span class="cite-bracket">
     [
    </span>
    99
    <span class="cite-bracket">
     ]
    </span>
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="307" data-file-width="512" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <span class="mw-image-border" typeof="mw:File">
       <span>
        <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
       </span>
      </span>
     </span>
     <a href="/wiki/Palestine" title="Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-105">
      <a href="#cite_note-105">
       <span class="cite-bracket">
        [
       </span>
       note 3
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
     <sup class="reference" id="cite_ref-106">
      <a href="#cite_note-106">
       <span class="cite-bracket">
        [
       </span>
       100
       <span class="cite-bracket">
        ]
       </span>
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
    <sup class="reference" id="cite_ref-107">
     <a href="#cite_note-107">
      <span class="cite-bracket">
       [
      </span>
      note 4
      <span class="cite-bracket">
       ]
      </span>
     </a>
    </sup>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="1920" data-file-width="2880" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
      </span>
     </span>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,402,617
   </td>
   <td>
    21,937
   </td>
   <td>
    429
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <span class="mw-image-border" typeof="mw:File">
      <span>
       <img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
      </span>
     </span>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
 </tbody>
</table>

In [234]:
tables[table_index].tbody.find_all('tr')

[<tr>
 <th scope="col">Rank
 </th>
 <th scope="col">Country
 </th>
 <th scope="col">Population
 </th>
 <th scope="col">Area<br/><small>(km<sup>2</sup>)</small>
 </th>
 <th scope="col">Density<br/><small>(pop/km<sup>2</sup>)</small>
 </th></tr>,
 <tr>
 <td>1</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Singapore" title="Singapore">Singapore</a></td>
 <td>5,921,231</td>
 <td>719</td>
 <td>8,235
 </td></tr>,
 <tr>
 <td>2</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="307" data-file-width="512" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Bangladesh" title="Bangladesh">Bangladesh</a></td>
 <td>165,650,475</td>
 <td>148,460</td>
 <td>1,116
 </td></tr>,
 <tr>
 <td>3</td>
 <td align="left">
 <p><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Palestine" title="Palestine">Palestine</a><sup class="reference" id="cite_ref-105"><a href="#cite_note-105"><span class="cite-bracket">[</span>note 3<span class="cite-bracket">]</span></a></sup><sup class="reference" id="cite_ref-106"><a href="#cite_note-106"><span class="cite-bracket">[</span>100<span class="cite-bracket">]</span></a></sup>
 </p>
 </td>
 <td>5,223,000</td>
 <td>6,025</td>
 <td>867
 </td></tr>,
 <tr>
 <td>4</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Taiwan" title="Taiwan">Taiwan</a><sup class="reference" id="cite_ref-107"><a href="#cite_note-107"><span class="cite-bracket">[</span>note 4<span class="cite-bracket">]</span></a></sup></td>
 <td>23,580,712</td>
 <td>35,980</td>
 <td>655
 </td></tr>,
 <tr>
 <td>5</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/South_Korea" title="South Korea">South Korea</a></td>
 <td>51,844,834</td>
 <td>99,720</td>
 <td>520
 </td></tr>,
 <tr>
 <td>6</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="1920" data-file-width="2880" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Lebanon" title="Lebanon">Lebanon</a></td>
 <td>5,296,814</td>
 <td>10,400</td>
 <td>509
 </td></tr>,
 <tr>
 <td>7</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Rwanda" title="Rwanda">Rwanda</a></td>
 <td>13,173,730</td>
 <td>26,338</td>
 <td>500
 </td></tr>,
 <tr>
 <td>8</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/Burundi" title="Burundi">Burundi</a></td>
 <td>12,696,478</td>
 <td>27,830</td>
 <td>456
 </td></tr>,
 <tr>
 <td>9</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/></span></span>Â </span><a href="/wiki/Israel" title="Israel">Israel</a></td>
 <td>9,402,617</td>
 <td>21,937</td>
 <td>429
 </td></tr>,
 <tr>
 <td>10</td>
 <td align="left"><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/></span></span>Â </span><a href="/wiki/India" title="India">India</a></td>
 <td>1,389,637,446</td>
 <td>3,287,263</td>
 <td>423
 </td></tr>]

In [249]:
population_data = pd.DataFrame(columns = ['Rank', 'Country', "Population", 'Area','Density'])
data = []
for row in tables[table_index].tbody.find_all('tr'):
    col = row.find_all('td')
    if col != []:
        rank = col[0].text
        country = col[1].text.strip()
        population = col[2].text
        area = float(col[3].text.strip().replace(',',''))
        density = float(col[4].text.strip().replace(',',''))
        data.append({
            'Rank':rank,
            'Country':country,
            'Population': population,
            "Area":area,
            'Density':density
        })
        
population_data = pd.DataFrame(data)

<div class='alert alert-block alert-warning'>
[Tip]
pandas.DataFrame.append() ë©”ì„œë“œëŠ” ë” ì´ìƒ ê¶Œì¥ë˜ì§€ ì•Šìœ¼ë©°, ëŒ€ì‹  listë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•œ í›„ **pandas.DataFrame**ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ë°©ì‹ì´ ê¶Œì¥ë©ë‹ˆë‹¤. ì•„ë˜ëŠ” ê°œì„ ëœ ë°©ë²•ì…ë‹ˆë‹¤
</div>

In [250]:
population_data

  Rank                 Country     Population       Area  Density
0    1               Singapore      5,921,231      719.0   8235.0
1    2              Bangladesh    165,650,475   148460.0   1116.0
2    3  Palestine[note 3][100]      5,223,000     6025.0    867.0
3    4          Taiwan[note 4]     23,580,712    35980.0    655.0
4    5             South Korea     51,844,834    99720.0    520.0
5    6                 Lebanon      5,296,814    10400.0    509.0
6    7                  Rwanda     13,173,730    26338.0    500.0
7    8                 Burundi     12,696,478    27830.0    456.0
8    9                  Israel      9,402,617    21937.0    429.0
9   10                   India  1,389,637,446  3287263.0    423.0

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html


---

ì´ì „ ì„¹ì…˜ì—ì„œ ì‚¬ìš©í•œ ë™ì¼í•œ `url`, `data`, `soup`, ë° `tables` ê°ì²´ë¥¼ ì‚¬ìš©í•˜ì—¬ `read_html` í•¨ìˆ˜ë¥¼ í†µí•´ DataFrameì„ ìƒì„±í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ìš°ë¦¬ê°€ í•„ìš”í•œ í…Œì´ë¸”ì€ `tables[table_index]`ì— ìœ„ì¹˜í•´ ìˆë‹¤ëŠ” ê²ƒì„ ê¸°ì–µí•˜ì„¸ìš”.

ì´ì œ `pandas`ì˜ `read_html` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ í…Œì´ë¸”ì˜ ë¬¸ìì—´ ë²„ì „ì„ ì „ë‹¬í•˜ê³ , `flavor`ë¡œ êµ¬ë¬¸ ë¶„ì„ ì—”ì§„ì¸ `bs4`ë¥¼ ì§€ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---

In [257]:
pd.read_html(str(tables[7]), flavor='bs4')[0]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][100]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423

In [259]:
population_data_read_html = pd.read_html(str(tables[7]), flavor='bs4')[0]

population_data_read_html

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][100]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423



## HTML í…Œì´ë¸”ì—ì„œ ë°ì´í„°ë¥¼ ìŠ¤í¬ë˜í•‘í•˜ì—¬ DataFrameìœ¼ë¡œ ë³€í™˜í•˜ê¸° (`read_html` ì‚¬ìš©)  
`read_html` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ URLì—ì„œ ì§ì ‘ DataFrameì„ ê°€ì ¸ì˜¬ ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.

In [260]:
dataframe_list = pd.read_html(url, flavor='bs4')

In [264]:
dataframe_list[6]

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][100]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423