[List](#List)
<br>
[Tuple](#Tuple)

<a id=List></a>
# Lists in Python

## Objectives

* Perform list operations including:
    * indexing
    * list manipulation
    * copy/clone list.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin:20px">
    <ul>
        <li>
            <a href="#dataset">About the Dataset</a>
        </li>
        <li>
            <a href="#list">Lists</a>
            <ul>
                <li><a href="#indexing">Indexing</a></li>
                <li><a href="#content">List Content</a></li>
                <li><a href="#op">List Operations</a></li>
                <li><a href="#co">Copy and Clone List</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz on Lists</a>
        </li>
        <li> Scenario:Shopping List </li>
    </ul>
</div>

<h2 id="dataset">About the Dataset</h2>

Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleet wood Mac</td>
    <td> Rumours </td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<h2 id="list">Lists</h2>

<h3 id="index">Indexing</h3>

In [9]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [10]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

<h3 id="content">List Content</h3>

In [11]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">List Operations</h3>

In [12]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [13]:
# List slicing

L[3:5]

['MJ', 1]

In [14]:
# Use extend to add elements to list

L =["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [15]:
# Use append to add elements to list

L =["Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [17]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [18]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [19]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

<hr/>
<div class="alert alert-success alertsuccess" style="margin-bottom: 0px">
[Tip]:    
split 함수는 특정 문자를 기준으로 문자열을 분리하는 데 사용할 수 있으며, 이를 구분자라고 합니다. <b>구분자</b>를 인수로 전달하며, 이 경우에는 쉼표(,)입니다. 결과는 리스트로 반환되며, 각 요소는 쉼표로 분리된 문자 집합에 해당합니다.
</div>
<hr/>

In [20]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copy and Clone List</h3>

In [33]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [34]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

<hr/>
<div class="alert alert-success alertsuccess" style="margin-bottom: 0px">
[Tip]:    
Variable B references a new copy or clone of the original list.
    Now if you change A, B will not change:
</div>
<hr/>

In [35]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [36]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

# Create a list

In [58]:
shopping_list = ["Watch","Laptop","Shoes","Pen","Clothes"]

# Add a new item to the shopping_list

In [59]:
shopping_list.append('Football')

In [60]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

# Print Last item from the shopping_list

In [61]:
shopping_list[-1]

'Football'

# Print the item that are important to buy from the shopping_list : 

Print 'Laptop' and 'shoes'

In [62]:
shopping_list[1:3]

['Laptop', 'Shoes']

# Change the item from the shopping_list

Instead of <u>"Pen"</u> I want to buy <u>"Notebook"</u>
let's change the item stored in the list.
<br>

In [63]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [64]:
pen_idx = shopping_list.index('Pen')
shopping_list[pen_idx] = 'Notebook'
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

# Delete the item from the shopping_list that is not required

Let's delete items that are unimportant, such as; I don't want to buy <u>Clothes</u>, let's delete it.

In [65]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

In [66]:
clothes_idx = shopping_list.index('Clothes')
del(shopping_list[clothes_idx])

In [67]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

<a id=Tuple><h1>Tuples in Python</h1></a>

## Objectives

After completing this lab you will be able to:

*   Perform the basics tuple operations in Python, including indexing, slicing and sorting

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#Dataset_Tuple">About the Dataset</a>
        </li>
        <li>
            <a href="#Tuples">Tuples</a>
            <ul>
                <li><a href="#Indexing">Indexing</a></li>
                <li><a href="#Slicing">Slicing</a></li>
                <li><a href="#Sorting">Sorting</a></li>
            </ul>
        </li>
        <li>
            <a href="#Quiz-on-Tuples">Quiz on Tuples</a>
        </li>
    </ul>

</div>

<hr>

<h2><a id=#Dataset_Tuple>About Dataset</a></h2>

Imagine you received album recommendations from your friends and compiled all of the recommendations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Date_released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

In [68]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [69]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [70]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [74]:
print(tuple1.index('disco'))
print(tuple1.index(10))
print(tuple1.index(1.2))

0
1
2

In [75]:
tuple1[-1]

1.2

<h3 id="concate">Concatenate Tuples</h3>

In [76]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

<h3 id="slice">Slicing</h3>

In [77]:
tuple2[0:3]

('disco', 10, 1.2)

In [78]:
len(tuple2)

5

<h3 id="sort">Sorting</h3>

In [79]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [80]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple</h3>

In [81]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [82]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [83]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [85]:
NestedT.index(('pop','rock'))

2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-bottom: 0px">
[Tip]:    
인덱스를 찾을때 Nested Tuple이면 그 Tuple로 조회를 해야지 단일 값으로 조회하면 아래와 같이 ValueError가 난다.
</div>
<hr/>

In [87]:
NestedT.index('pop')

ValueError: tuple.index(x): x not in tuple

In [88]:
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [96]:

NestedT[2][1][0]

'r'

In [95]:

NestedT[2][1][1]

'o'

In [97]:

NestedT[4][1][0]

1

<h2 id="quiz">Quiz on Tuples</h2>

In [98]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [99]:
# Find the length of the tuple, 

len(genres_tuple)

8

In [100]:
# Access the element, with respect to index 3:

genres_tuple[3]

'hard rock'

In [101]:
# Use slicing to obtain indexes 3, 4 and 5:

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [103]:
# Find the first two elements of the tuple

genres_tuple[:2]

('pop', 'rock')

In [104]:

genres_tuple.index("disco")

7

In [105]:
# Find the index of 's' in "disco":

"disco".find("s")

2

In [106]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

C_tuple=(-5, 1, -3)
sorted(C_tuple)

[-5, -3, 1]